---
---

@import "{{ site.theme }}";

td img {
   margin: 0;
   padding: 0;
}
div.wrapper, div.wrapper > section {
    max-width: 100%;
}

#header, #title {
  display:none;
}

p, h1, h3, h4 {
    text-align: center;
}
td, th {
    font-size: 180%;
}
p {
    font-size: 160%;
}
table + p {
    font-size: 90%;
}
